<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <app-breadcrumds></app-breadcrumds>
            <router-outlet></router-outlet>
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <span><h3>Aqui propaganda</h3></span>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
        </div>
    </div>
</div>