<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Create</label>
                    <input type="text" name="name" [(ngModel)]="model.name" class="form-control" aria-describedby="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="model.category">
                        <option *ngFor="let category of categories" [ngValue] ="category">{{category.name}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success btn-rounded btn-block" (click)="save(model)">Save</button>
            </div>
        </div>
        <div class="card" *ngIf="show">
            <div class="card-body">
                <div class="form-group">
                    <label for="name"><i class="fa fa-times-circle pointer" (click)="show = false"></i></label>
                    <input type="text" name="name" [(ngModel)]="modelupdate.name" class="form-control" aria-describedby="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="modelupdate.category">
                        <option *ngFor="let category of categories" [ngValue] ="category._id">{{category.name}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-rounded btn-block" (click)=update(modelupdate)>Update</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper-scroll-y">
                    <div class="table-responsive">
                        <table class="table" id="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let line of lines">
                                    <td>{{line.name}}</td>
                                    <td>{{line.category.name}}</td>
                                    <td><i class="fa fa-edit pointer" (click)="modelupdate = line; showCard()"></i></td>
                                    <td><i class="fa fa-trash-o pointer" (click)="deleteById(line._id)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>