<!-- save product -->
<div class="row" *ngIf="show">
    <div class="col-12">
        <div class="card">
            <div class="card-title text-center">
                Create Service
                <i class="fa fa-times-circle pointer" (click)="show = false"></i>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Subline</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="name" [(ngModel)]="model.name" class="form-control" placeholder="Name"></td>
                            <td><input type="text" name="description" [(ngModel)]="model.description" class="form-control" placeholder="description" required></td>
                            <td>
                                <select class="form-control" name="subline" [(ngModel)]="model.subline">
                                  <option *ngFor="let subline of sublines" [ngValue] ="subline._id">{{subline.name}}</option>
                              </select>
                            </td>
                            <td>
                                <select class="form-control" name="company" [(ngModel)]="model.company">
                                <option *ngFor="let company of companies" [ngValue] ="company._id">{{company.name}}</option>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-success btn-rounded btn-block" (click)="save(model)">Save</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- cierre save -->
<!-- update product -->
<div class="row" *ngIf="showup">
    <div class="col-12">
        <div class="card">
            <div class="card-title text-center">
                Update Product
                <i class="fa fa-times-circle pointer" (click)="showup = false"></i>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Subline</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="name" [(ngModel)]="modelUp.name" class="form-control" placeholder="name"></td>
                            <td><input type="text" name="description" [(ngModel)]="modelUp.description" class="form-control" placeholder="description" required></td>
                            <td>
                                <select class="form-control" name="subline" [(ngModel)]="modelUp.subline">
                              <option *ngFor="let subline of sublines" [ngValue] ="subline._id">{{subline.name}}</option>
                          </select>
                            </td>
                            <td>
                                <select class="form-control" name="company" [(ngModel)]="modelUp.company">
                                <option *ngFor="let company of companies" [ngValue] ="company._id">{{company.name}}</option>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-primary btn-rounded btn-block" (click)="update(modelUp)">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- cierre update -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper-scroll-y">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Line</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of services">
                                <td>
                                    <img [src]="service.img | image:'service'" class="rounded-circle w70 pointer" (click)="showModal(service._id)">
                                </td>
                                <td>{{service.name}}</td>
                                <td>{{service.description}}</td>
                                <td>{{service.subline.name}}</td>
                                <td><i class="fa fa-edit pointer" (click)="showup = true; modelUp = service"></i></td>
                                <td><i class="fa fa-trash-o pointer" (click)="delete(service._id)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <td><button class="btn btn-success btn-rounded btn-block" (click)="show=true">New Service</button></td>
            </div>
        </div>
    </div>
</div>