<!-- save product -->
<div class="row" *ngIf="show">
    <div class="card">
        <div class="card-title text-center">
            Create Service
            <i class="fa fa-times-circle pointer" (click)="show = false"></i>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" name="name" [(ngModel)]="model.name" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="subline">Subline</label>
                        <select class="form-control" name="subline" [(ngModel)]="model.subline">
                            <option *ngFor="let subline of sublines" [ngValue] ="subline._id">{{subline.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" [(ngModel)]="model.description" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-success btn-rounded btn-block" (click)="save(model)">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- cierre save -->
<!-- update product -->
<div class="row" *ngIf="showup">
    <div class="col-12">
        <div class="card">
            <div class="card-title text-center">
                Update Product
                <i class="fa fa-times-circle pointer" (click)="showup = false"></i>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="name">Name</label>
                            <input class="form-control" id="name" name="name" [(ngModel)]="modelUp.name" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="subline">Subline</label>
                            <select class="form-control" name="subline" [(ngModel)]="modelUp.subline">
                                <option *ngFor="let subline of sublines" [ngValue] ="subline._id">{{subline.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" [(ngModel)]="modelUp.description" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <button type="button" class="btn btn-info btn-rounded btn-block" (click)="update(modelUp)">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- cierre update -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper-scroll-y">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Line</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of services">
                                <td>
                                    <img [src]="service.img | image:'service'" class="rounded-circle w70 pointer" (click)="showModal(service._id)">
                                </td>
                                <td>{{service.name}}</td>
                                <td><textarea class="form-control" id="description" name="description" rows="4" disabled>{{service.description}}</textarea> </td>
                                <td>{{service.subline.name}}</td>
                                <td><i class="fa fa-edit pointer" (click)="showup = true; modelUp = service"></i></td>
                                <td><i class="fa fa-trash-o pointer" (click)="delete(service._id)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <td><button class="btn btn-success btn-rounded btn-block" (click)="show=true">New Service</button></td>
            </div>
        </div>
    </div>
</div>