<!-- save location -->
<div class="row" *ngIf="show">
    <div class="col-12">
        <div class="card">
            <div class="card-title text-center">
                Create Contact
                <i class="fa fa-times-circle pointer" (click)="show = false"></i>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Phon</th>
                            <th scope="col">Movil</th>
                            <th scope="col">User</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" name="code" [(ngModel)]="model.code" class="form-control" placeholder="Code" required></td>
                            <td><input type="text" name="name" [(ngModel)]="model.name" class="form-control" placeholder="Name" required></td>
                            <td><input type="text" name="lastname" [(ngModel)]="model.lastname" class="form-control" placeholder="LastName" required></td>
                            <td><input type="text" name="adress" [(ngModel)]="model.adress" class="form-control" placeholder="Adress" required></td>
                            <td><input type="number" name="phon" [(ngModel)]="model.phon" class="form-control" placeholder="Phon" required></td>
                            <td><input type="number" name="movil" [(ngModel)]="model.movil" class="form-control" placeholder="Movil" required></td>
                            <td>
                                <select class="form-control" name="userId" [(ngModel)]="model.userId">
                                <option *ngFor="let user of users" [ngValue] ="user.id">{{user.name}}</option>
                              </select>
                            </td>
                            <td>
                                <select class="form-control" name="roleId" [(ngModel)]="model.locationId">
                                <option *ngFor="let location of locations" [ngValue] ="location.id">{{location.name}}</option>
                              </select>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-success btn-rounded btn-block" (click)="save(model)">Save</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- cierre save -->
<!-- open update -->
<div class="row" *ngIf="showup">
    <div class="col-12">
        <div class="card">
            <div class="card-title text-center">
                Update Contact
                <i class="fa fa-times-circle pointer" (click)="showup = false"></i>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Phon</th>
                            <th scope="col">Movil</th>
                            <th scope="col">User</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" name="code" [(ngModel)]="modelUp.code" class="form-control" placeholder="Code" required></td>
                            <td><input type="text" name="name" [(ngModel)]="modelUp.name" class="form-control" placeholder="Name" required></td>
                            <td><input type="text" name="lastname" [(ngModel)]="modelUp.lastname" class="form-control" placeholder="LastName" required></td>
                            <td><input type="text" name="adress" [(ngModel)]="modelUp.adress" class="form-control" placeholder="Adress" required></td>
                            <td><input type="number" name="phon" [(ngModel)]="modelUp.phon" class="form-control" placeholder="Phon" required></td>
                            <td><input type="number" name="movil" [(ngModel)]="modelUp.movil" class="form-control" placeholder="Movil" required></td>
                            <td>
                                <select class="form-control" name="userId" [(ngModel)]="modelUp.userId">
                                <option *ngFor="let user of users" [ngValue] ="user.id">{{user.name}}</option>
                              </select>
                            </td>
                            <td>
                                <select class="form-control" name="roleId" [(ngModel)]="modelUp.locationId">
                                <option *ngFor="let location of locations" [ngValue] ="location.id">{{location.name}}</option>
                              </select>
                            </td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-primary btn-rounded btn-block" (click)="update(modelUp)">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- close update -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="table-wrapper-scroll-y">
                <div class="table-responsive">
                    <table class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">LastName</th>
                                <th scope="col">Adress</th>
                                <th scope="col">Phon</th>
                                <th scope="col">Movil</th>
                                <th scope="col">User</th>
                                <th scope="col">Location</th>
                                <th scope="col">Update</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of contacts">
                                <td>{{contact.code}}</td>
                                <td>{{contact.name}}</td>
                                <td>{{contact.lastname}}</td>
                                <td>{{contact.adress}}</td>
                                <td>{{contact.phon}}</td>
                                <td>{{contact.movil}}</td>
                                <td>{{contact.userId.name}}</td>
                                <td>{{contact.locationId.name}}</td>
                                <td><i class="fa fa-edit pointer" (click)="showup = true; modelUp = contact"></i></td>
                                <td><i class="fa fa-trash-o pointer" (click)="deleteById(contact.id)"></i></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><button class="btn btn-success btn-rounded" (click)="show=true">New Contact</button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>