<!-- save product -->
<div class="row" *ngIf="show">
    <div class="col-10">
        <div class="card">
            <div class="card-title text-center">
                Create User
                <i class="fa fa-times-circle pointer" (click)="show = false"></i>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="name" [(ngModel)]="model.name" class="form-control" placeholder="Name" required></td>
                            <td><input type="email" name="email" [(ngModel)]="model.email" class="form-control" placeholder="Email" required></td>
                            <td>
                                <select class="form-control" name="role" [(ngModel)]="model.role">
                                    <option *ngFor="let role of roles" [ngValue] ="role._id">{{role.name}}</option>
                                </select>
                            </td>
                            <td><input type="password" name="password" [(ngModel)]="model.password" class="form-control" placeholder="password" required></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success btn-rounded" (click)="save(model)">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- cierre save -->
<!-- update product -->
<div class="row" *ngIf="showup">
    <div class="col-10">
        <div class="card">
            <div class="card-title text-center">
                Update User
                <i class="fa fa-times-circle pointer" (click)="showup = false"></i>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="name" [(ngModel)]="modelUp.name" class="form-control" placeholder="Name" required></td>
                            <td><input type="email" name="email" [(ngModel)]="modelUp.email" class="form-control" placeholder="Email"></td>
                            <td>
                                <select class="form-control" name="role" [(ngModel)]="modelUp.role">
                                    <option *ngFor="let role of roles" [ngValue] ="role._id">{{role.name}}</option>
                                </select>
                            </td>
                            <td><input type="password" name="password" [(ngModel)]="modelUp.password" class="form-control" placeholder="password" disabled required></td>
                            <td><button type="button" class="btn btn-primary btn-rounded" (click)="update(modelUp)">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- cierre update -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper-scroll-y">
                    <div class="table-responsive">
                        <table class="table" id="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>
                                        <img [src]="user.img | image" (click)="showModal(user._id)" class="rounded-circle w70 pointer">
                                    </td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.role.name}}</td>
                                    <td><i class="fa fa-edit pointer" (click)="showCard(); modelUp = user"></i></td>
                                    <td><i class="fa fa-trash-o pointer" (click)="deleteById(user._id)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-success btn-rounded" (click)="show = true">New User</button>
                </div>
            </div>
        </div>
    </div>
</div>