<div class="row">
    <div class="col-4">
        <div class="card border-secondary">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" [(ngModel)]="model.name" class="form-control" aria-describedby="name" placeholder="Name">
                </div>
                <!-- <div class="form-group">
                    <label for="code">Code</label>
                    <input type="number" name="code" [(ngModel)]="model.code" class="form-control" aria-describedby="code" placeholder="Code">
                </div> -->
                <button type="button" class="btn btn-success btn-rounded btn-block" (click)="save(model)">Save</button>
            </div>
        </div>
        <div class="card" *ngIf="show">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">
                      <i class="fa fa-times-circle pointer" (click)="show = false"></i>
                    </label>
                    <input type="text" name="name" [(ngModel)]="modelUp.name" class="form-control" aria-describedby="name" placeholder="Name">
                </div>
                <!-- <div class="form-group">
                    <input type="number" name="code" [(ngModel)]="modelUp.code" class="form-control" aria-describedby="code" placeholder="Code">
                </div> -->
                <button type="button" class="btn btn-primary btn-rounded btn-block" (click)=update(modelUp)>Update</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="table-wrapper-scroll-y">
                    <div class="table-responsive">
                        <table class="table" id="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let department of departments">
                                    <td>{{department.name}}</td>
                                    <td><i class="fa fa-edit pointer" (click)="showCard(); modelUp = department"></i></td>
                                    <td><i class="fa fa-trash-o pointer" (click)="delete(department._id)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>