.cardF {
    color: #FFFFFF;
    background: -webkit-linear-gradient(60deg, black 15%, gray 100%);
    background: -moz-linear-gradient(60deg, black 15%, gray 100%);
    background: -ms-linear-gradient(60deg, black 15%, gray 100%);
    background: -o-linear-gradient(60deg, black 15%, gray 100%);
    background: linear-gradient(60deg, black 15%, gray 100%);
}

.space {
    padding: 5px 5px;
}

.card {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.l {
    border-radius: 10px;
}


/* Large desktops and laptops */

@media (min-width: 1200px) {}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {}


/* Portrait phones and smaller */

@media (max-width: 480px) {}