<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <a class="navbar-brand font-20 font-weight-bold">Productos Yumbo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold text-success" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Busca Por?</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item pointer" (click)="changeList(2)">Servicios</a>
                    <a class="dropdown-item pointer" (click)="changeList(1)">Productos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Categorias</a>
                    <a class="dropdown-item pointer">
                        <select class="form-control" name="subline" [(ngModel)]="id" (click)="searchForSubline()">
                            <option *ngFor="let subline of sublines" [ngValue] ="subline._id">{{subline.name}}</option>
                        </select>
                    </a>
                </div>
            </li>
        </ul>
        <a class="navbar-brand font-20 font-italic">Total Productos: {{totalFiles}}</a>
        <form class="form-inline my-2 my-lg-0">
            <input #search (keyup)="searchProduct(search.value)" class="form-control" type="text" placeholder="Search Product" aria-label="Search">
        </form>
        <i class="space">
            <button class="btn btn-outline-success" type="button" routerLink="/login" type="submit">Login</button>
        </i>
    </div>
</nav>
<hr>
<div *ngIf="!show">
    <div class="container-fluid" *ngIf="!hidden">
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let product of products">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a>
                            <img class="pic-1" [src]="product.img | image:'product'">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a>{{product.name}}</a></h3>
                        <!-- <div class="price">$11.00
                        <span>$14.00</span>
                    </div> -->
                    </div>
                    <ul class="social">
                        <li><a [routerLink]="['/companies', product._id]" data-tip="buscar"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link pagination-sm" (click)="changepage(-20)" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item"><a class="page-link" href="#">11</a></li>
                <li class="page-item"><a class="page-link" href="#">12</a></li>
                <li class="page-item">
                    <a class="page-link" (click)="changepage(20)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Services -->
    <div class="container" *ngIf="hidden">
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let service of services">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a>
                            <img class="pic-1" [src]="service.img | image:'service'">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title font-italic text-blue"><a>{{service.name}}</a></h3>
                        <!-- <div class="price">$11.00
                            <span>$14.00</span>
                        </div> -->
                    </div>
                    <ul class="social">
                        <li><a [routerLink]="['/company-service', service._id]" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- por subline -->
<div class="container" *ngIf="show">
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let product of sublineProduct">
            <div class="product-grid6">
                <div class="product-image6">
                    <a>
                        <img class="pic-1" [src]="product.img | image:'product'">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a>{{product.name}}</a></h3>
                    <!-- <div class="price">$11.00
                        <span>$14.00</span>
                    </div> -->
                </div>
                <ul class="social">
                    <li><a [routerLink]="['/companies', product._id]" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>