<nav class="navbar navbar-expand-lg center-block">
    <a class="navbar-brand font-20 font-weight-bold">Conócenos</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <button class="btn btn-outline-info" [routerLink]="['/']">Regresar</button>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-justify">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title ">PRODUCTOS YUMBO</h5>
                    <p class="card-text">Es una pagina Web que permite a los usuarios buscar productos desde la comodidad de su hogar, ahorrando tiempo y dinero. A su ves permite a las empresas mostrar todos sus productos o servicios mejorando sus ventas anexando otro medio
                        de venta.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-justify">
                <div class="card-body">
                    <h5 class="card-title ">NOSOTROS</h5>
                    <p class="card-text">Somos emprendedores Freelance. Nuestro objetivo es brindar soluciones informáticas que permitan el crecimiento de las empresas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-justify">
                <div class="card-body">
                    <h5 class="card-title ">INFORMACIÓN</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Aldemar Floréz Arias</li>
                        <li class="list-group-item">Tecnologo en Análisis y Desarrollo de sistemas de Información</li>
                        <li class="list-group-item"><i class="fa fa-whatsapp"></i> 313 634 21 75</li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-justify">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title ">FREELANCE</h5>
                    <p class="card-text">Actividad que realiza la persona que trabaja de forma independiente o se dedica a realizar trabajos de manera autónoma que le permitan desenvolverse en su profesión o en aquellas áreas que pueden ser más lucrativas y son orientadas
                        a terceros que requieren de servicios</p>
                </div>
            </div>
        </div>
    </div>
</div>